# Supabase Project URL - Find in Supabase Project Settings -> API
VITE_SUPABASE_URL="https://hcmfytdyuprprkzdioqp.supabase.co"

# Supabase Anon Key - Find in Supabase Project Settings -> API
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjbWZ5dGR5dXBycHJremRpb3FwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTIxNjUsImV4cCI6MjA4OTE2ODE2NX0.U54o4rtmu2_C8AsH0zyTfH3pXod_n8fPlOlY5i10NtM"
